<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Scan Controllers -->
    <context:component-scan base-package="com.bookingSystem.config"/>
    <context:component-scan base-package="com.bookingSystem.exception"/>

    <!-- Enable annotation MVC -->
    <mvc:annotation-driven/>

    <!-- Swagger UI -->
    <mvc:resources mapping="swagger-ui.html"
                   location="classpath:/META-INF/resources/"/>

    <mvc:resources mapping="/webjars/**"
                   location="classpath:/META-INF/resources/webjars/"/>

    <bean id="userController" class="com.bookingSystem.users.UserController">
        <constructor-arg name="userService" ref="userService"/>
    </bean>
    <bean id="hotelController" class="com.bookingSystem.hotels.HotelController">
        <constructor-arg name="hotelService" ref="hotelService"/>
    </bean>
    <bean id="roomController" class="com.bookingSystem.rooms.RoomController">
        <constructor-arg name="roomService" ref="roomService"/>
    </bean>
    <bean id="bookingController" class="com.bookingSystem.bookings.BookingController">
        <constructor-arg name="bookingService" ref="bookingService"/>
    </bean>
    <bean id="imageController" class="com.bookingSystem.images.ImageController">
        <constructor-arg name="imageService" ref="imageService"/>
    </bean>
    <bean name="authController" class="com.bookingSystem.auth.AuthController" >
        <constructor-arg name="authService" ref="authService"/>
    </bean>

    <bean id="jwtAuthenticationFilter" class="com.bookingSystem.auth.JwtAuthenticationFilter">
        <constructor-arg name="jwtTokenProvider" ref="jwtTokenProvider"/>
        <property name="requestMappingHandlerMapping" ref="requestMappingHandlerMapping"/>
    </bean>

</beans>
